/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);

    --black-500: hsl(210, 3%, 58%);
    --black-700: hsl(0, 0%, 16%);
    --black-750: hsl(0, 0%, 11%);
    --black-950: hsl(0, 0%, 5%);
    --black-990: hsl(0, 0%, 2%);
    --black-1000: hsl(0, 0%, 0%);

    --fsize-regular: .95rem;
    --fsize-large: 1.45rem;
}

@font-face {
  font-family: Figtree;
  src: url(assets/fonts/Figtree-VariableFont_wght.ttf)
  format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Figtree, Helvetica, sans-serif;
  background-color: var(--black-990);
  color: var(--white);
  height: 100vh;
  display: grid;
  place-content: center;
}

.container {
  background-color: var(--black-950);
  display: flex;
  flex-direction:column;
  gap: 1rem;
  overflow: hidden scroll;
  scrollbar-width: none;
  border-radius: 1rem;
  padding: 1.25rem;
  margin: 1.25rem;
  font-size: var(--fsize-regular);
  max-width: 380px;
  min-width: 220px;
  border: solid var(--black-700) .1rem;
  transition: all 0.5s ease;
  box-shadow: 1px 1px 10px var(--black-1000);
}

.container:hover {
  transform: scale(1.025);
  box-shadow: 0 0 10px var(--yellow);
}

.article_image_wrap {
  min-height: 210px;
  max-width: 100%;
  aspect-ratio: 16 / 9.57;
}

.article_image {
  border-radius: .75rem;
  height: 100%;
  object-fit: cover;
  border: solid var(--black-700) .1rem;
}

.article_title {
  font-size: var(--fsize-large);
  transition: all 0.5s ease;
  cursor: pointer;
  width: fit-content;
  font-weight: 800;
}

.article_title:hover {
  color: var(--yellow);
}

.article_category {
  background-color: var(--black-750);
  width: fit-content;
  padding: .25rem .75rem;
  border-radius: .25rem;
  font-weight: 600;
  font-size: .75rem;
  border: solid .1rem var(--yellow);
  box-shadow: 1px 1px 10px var(--black-1000);
}

.article_date {
  font-size: .75rem;
  color: var(--black-500);
}

.article_author_container {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}

.article_author_img {
  width: 2rem;
}

.attribution {
  font-size: .5rem;
  text-align: center;
  margin-bottom: 1.25rem;
  color: var(--black-500);
}

.attribution a {
  color: var(--black-500);
}
